* {
  font-family: "Iosevka Nerd Font Propo";
  font-size: 20px;
  font-weight: 900;
  padding: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  border-radius: 0px;
  min-height: 0px;
  margin: 0px;
  /* font-feature-settings: "liga" on; */
}

/* The whole bar */
window#waybar,
#waybar {
  color: #d4be98;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.5s;
  border-radius: 0px;
  background-color: rgba(40, 40, 40, 0.8);
  border: 1px solid #4d4d4d;
  margin: 5px;
}

#custom-power {
  margin: 10px;
}

#clock {
  margin: 10px;
}

#network {
  color: #89b482;
}

#battery {
  color: #d8a657;
}

#custom-power {
  color: #ea6962;
}

#workspaces button {
  color: rgb(77, 77, 77);
}

#workspaces button.active {
  color: rgba(245, 228, 184, 0.85);
}

#waybar button.hover {
  border: 1px solid #f5e4b8;
}
